.wrap {
  overflow-x: hidden !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  width: 100%;
}

.wrap:hover div {
  animation-play-state: var(--hover-to-pause)!important;
}

.marquee {
  animation-name: marquee;
  animation-timing-function: linear;
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation-play-state: var(--play);
  animation-iteration-count: var(--loop);
  animation-delay: var(--delay);
  animation-direction: var(--direction);
  animation-duration: var(--duration);
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
